@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;

@if (User.Identity.IsAuthenticated)
{
    var user = await UserManager.GetUserAsync(User);
    if (user != null)
    {
        <span class="text-success">
            <i class="bi bi-person-badge"></i> Welcome, @user.FullName
        </span>
    }
}
<style>
    .test {
        background-color: red !important;
    }
</style>